@media (max-width:767px){
    html{
        font-size:55%;
    }
    .sunset-price-card .main-btn,.sunset-blog-content .main-btn {
        margin: 2rem auto 1rem;
        width: 50%;
      }
}
@media (max-width:576px){
    
.sunset_resort_service_menu_area ul li:nth-child(1) {
    margin-left: unset;
  }
  
  .sunset_resort_service_menu_area ul li:nth-child(2) {
    margin-left: unset;
  }
  
  .sunset_resort_service_menu_area ul li:nth-child(3) {
    margin-left: unset;
  }
  
}